<app-header [isUserLoggedin]="false"></app-header><div class="row"><div class="col-md-1"></div><div class="col-md-10">


       <br>
<br>
<br>
<div class="row">
       <div class="col-md-3"></div>
       <div class="col-md-6">
              <div class="jumbotron">
                     <div>

                            <h4>Forgot Password</h4>
                            <hr><br>
                            <div class="form-group">
                                       
  <form novalidate style="padding:30px;background-color: whitesmoke" (ngSubmit)="savePassword()" [formGroup]="ForgotPasswordForm">
                                          <div class="form-group row mb-2">
                                                 <label class="col-md-2 col-form-label"
                                                        for="EmailAddressId">Email</label>
                                                 <div class="col-md-7">
                                                        <input class="form-control" id="EmailAddressId" type="email"
                                                               placeholder="Email Address (required)"
                                                               formControlName="EmailAddress"
                                                               [ngClass]="{'is-invalid': displayMessage.EmailAddress}" />
                                                        <span class="invalid-feedback">
                                                               {{displayMessage.EmailAddress}}
                                                        </span>
                                                 </div>
                                                 
                                                 <div class="col-md-3" *ngIf="ForgotPasswordForm.controls.EmailAddress">
                                                        <button type="button" class="btn btn-primary btn-block"
                                                        [disabled]="!ForgotPasswordForm.controls.EmailAddress.valid" (click)="VerifyEmail()">Verify
                                                        </button>
                                                 </div>
                                          </div>
                                          <br>

                                          <hr>
                                          <div *ngIf="showForm">
                                                 <div class="form-group row mb-2">

                                                        <div class="col-md-4">
                                                               <input class="form-control" id="CodeId" type="text"
                                                                      placeholder="Code (required)"
                                                                      formControlName="Code"
                                                                      [ngClass]="{'is-invalid': displayMessage.Code}" />
                                                               <span class="invalid-feedback">
                                                                      {{displayMessage.Code}}
                                                               </span>
                                                        </div>
                                                        <div class="col-md-8">
                                                               <p>We have sent code to your Email Id. Please enter code
                                                                      to change your password.</p>
                                                        </div>
                                                 </div>
                                                 <hr>
                                                 <br>
                                                 <div class="form-group row mb-2">
                                                        <label class="col-md-4 col-form-label"
                                                               for="PasswordId">Password</label>
                                                        <div class="col-md-8">
                                                               <input class="form-control" id="PasswordId"
                                                                      type="password" placeholder="Password (required)"
                                                                      formControlName="Password"
                                                                      [ngClass]="{'is-invalid': displayMessage.Password}" />
                                                               <span class="invalid-feedback">
                                                                      {{displayMessage.Password}}
                                                               </span>
                                                        </div>
                                                 </div>

                                                 <div class="form-group row mb-2">
                                                        <label class="col-md-4 col-form-label"
                                                               for="cnfPasswordId">Confirm Password</label>
                                                        <div class="col-md-8">
                                                               <input class="form-control" id="cnfPasswordId"
                                                                      type="password"
                                                                      placeholder="Confirm Password (required)"
                                                                      formControlName="cnfPassword"
                                                                      [ngClass]="{'is-invalid': displayMessage.cnfPassword}" />
                                                               <span class="invalid-feedback">
                                                                      {{displayMessage.cnfPassword}}
                                                               </span>
                                                        </div>
                                                 </div>
                                                 <hr>
                                          </div>
                                   </form>

                                  


                                   <div class="row" *ngIf="showForm">
                                          <div class="col-md-5">
                                                 <button type="submit" class="btn btn-primary btn-block"
                                                 [disabled]="!ForgotPasswordForm.valid" (click)="saveChangePassword()">Change Password</button>
                                          </div>
                                          <div class="col-md-4">
                                                 <button type="button" class="btn btn-primary btn-block"
                                                        (click)="Cancel()">Cancel</button>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>

     


       <div class="col-md-6"></div>
</div>  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>