
<app-header [isUserLoggedin]='isUserLoggedin' [LoggedinUserName]='LoggedinUserName' ></app-header><div class="row"><div class="col-md-1"></div><div class="col-md-10">
    <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
  
  <form novalidate style="padding:30px;background-color: whitesmoke"  
          (ngSubmit)="saveCvdpermission()"
          [formGroup]="CvdpermissionForm">

          <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label"
                     for="NameId">Name</label>
              <div class="col-md-8">
                <input class="form-control"
                       id="NameId"
                       type="text"
                       placeholder="Name (required)"
                       formControlName="Name"
                       [ngClass]="{'is-invalid': displayMessage.Name}" />
                <span class="invalid-feedback">
                  {{displayMessage.Name}}
                </span>
              </div>
            </div>

      <div class="form-group row mb-2" >
      <label class="col-md-2 col-form-label"
      for="FCvdroleId" >Select Role</label>
      <div class="col-sm-8">
      <select class="form-control" id="FCvdroleId" formControlName="FCvdroleId" 
      [ngClass]="{'is-invalid': displayMessage.FCvdroleId}">
      <option [value]='0' selected>Select Role...</option>"
      <option *ngFor="let lstCvdrole of CvdroleList"
      [value]="lstCvdrole.id">{{lstCvdrole.Name}}</option>
      </select>
      <span class="invalid-feedback">
      {{displayMessage.FCvdroleId}}
      </span>
      </div>
      </div>

      <div class="form-group row mb-2" >
      <label class="col-md-2 col-form-label"
      for="FCvduserId" >Select User</label>
      <div class="col-sm-8">
      <select class="form-control" id="FCvduserId" formControlName="FCvduserId" 
      [ngClass]="{'is-invalid': displayMessage.FCvduserId}">
      <option [value]='0' selected>Select User...</option>"
      <option *ngFor="let lstCvduser of CvduserList"
      [value]="lstCvduser.id">{{lstCvduser.Name}}</option>
      </select>
      <span class="invalid-feedback">
      {{displayMessage.FCvduserId}}
      </span>
      </div>
      </div>
      
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="CvdpermissionForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!CvdpermissionForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/Cvdpermissions']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete"
                  (click)="DeleteConfirmation()">
            Delete
          </button>
        </div>
      </div>
    </form>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
</div>

