
<app-header [isUserLoggedin]='isUserLoggedin' [LoggedinUserName]='LoggedinUserName' ></app-header><div class="row"><div class="col-md-1"></div><div class="col-md-10">
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter" />
      </div>
<div class="col-md-3"></div>
<div class="col-md-2">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
              <button class="btn btn-outline-primary btn-sm"
              [routerLink]="['/Cvdcoursestatus', 0, 'edit']">
        Add Course Status
      </button>
       </div>
   </div>
</div>
    </div>
    <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="CvdcoursestatuList && CvdcoursestatuList.length">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status Name</th>
            <th>Course Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itrCvdcoursestatu of filteredCvdcoursestatus">
            <td>
              <a [routerLink]="['/Cvdcoursestatus', itrCvdcoursestatu.id]">
                {{ itrCvdcoursestatu.Name }}
              </a>
            </td>
            <td>{{ itrCvdcoursestatu.CvdstatuName }}</td>
            <td>{{ itrCvdcoursestatu.CvdcourseName }}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/Cvdcoursestatus', itrCvdcoursestatu.id, 'edit']">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
</div>
</div>
