<app-header [isUserLoggedin]='isUserLoggedin' [LoggedinUserName]='LoggedinUserName'></app-header>
<div class="row">
  <div class="col-md-1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/Covid19Logo.PNG" > 
  </div>
<div class="col-md-11"><h2>IBM & Cognizant Call for Code</h2></div>
</div>

<hr><br>

<div class="row">
  <div class="col-md-12">
      <img src="../../assets/p1.PNG" style="width:100%;" > 
  </div>
</div><br>
<div class="row">
    <div class="col-md-1">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/eTutorLogo.PNG" > 
    </div>
    
        <div class="col-md-11"><h2>Team Covid19Warrior presents: eTutor</h2></div>
    
  </div>
  <hr><br>
  <div class="row">
    <div class="col-md-12">
        <img src="../../assets/p2.PNG" style="width:100%;"> 
    </div>
  </div>
