<app-header [isUserLoggedin]='isUserLoggedin' [LoggedinUserName]='LoggedinUserName'></app-header>
<div class="row">
  <div class="col-md-1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/Covid19Logo.PNG" > 
  </div>
<div class="col-md-11"><h2>IBM & Cognizant Call for Code</h2></div>
</div>

<hr><br>

<div class="row">
  <div class="col-md-12">
    <p>With increase in demand of online education due to ongoing COVID-19 pandemic, there's high need of a software which provide access to education easily and universally, with that in mind we would like to introduce "eTutor" which will be free access to everyone. Our aim is to build an app which is common for students from any grade, people from any generation and teachers from anywhere. 
This one stop shop for ALL which will give features to enrolment, instruction design, content delivery (videos), evaluation (Learning Check) and support.</p>
  </div>
</div><br>
<div class="row">
    <div class="col-md-1">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/eTutorLogo.PNG" > 
    </div>
    
        <div class="col-md-11"><h2>Team Covid19Warrior presents: eTutor</h2></div>
    
  </div>
  <hr><br>
  <div class="row">
    <div class="col-md-12">
      <p>The COVID-19 has resulted in schools closures all across the world. Globally, over 1.2 billion children are out of the classroom. Many professionals are WFH.
As a result, learning has changed dramatically, with the distinctive rise of e-learning, whereby teaching is undertaken remotely and on digital platforms.
Technology is an increasingly influential to develop new ways of learning such as online education. "eTutor" platform will help to make e-learning part of the ‘new normal’ for many students and Research suggests that online learning will eventually become an integral component of school education and will persist post-pandemic also.
</p>
      <p style="font-size:11px;color:green">Business Benefits </p>
<ul>
  <li>Knowledge with Touch of Button</li>
  <li>Flexibility</li>
  <li>Learn Anywhere</li>
  <li>Learn At Own Pace</li>
  <li>Going Back And Re-reading</li>
  <li>Skipping,Or Accelerating Through Concepts As Chosen</li>
</ul>  
    </div>
  </div>
